<ion-header>
    <ion-toolbar>
        <ion-title class="tcenter"><span *ngIf="!orderData.shippingAddress">home</span><a *ngIf="orderData.shippingAddress" href="javascript:;" (click)="presentAlertLocation()" style="color:white">{{orderData.shippingAddress.address}}</a><h2 *ngIf="userData._user" class="header-name">Hola {{userData._user.firstName}}!</h2></ion-title>

        <ion-buttons slot="end" *ngIf="userData._user">
            <ion-button size="small" icon-only clear (click)="openMenu()">
                <ion-icon name="notifications"></ion-icon>
                <div id="counter-items">({{notifs}})</div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="quick-link bg-white webcont">
        <div class="gallery">
            <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="SlideDidChange()" #slideWithNav>
                <ion-slide *ngFor="let item of slidesItems">
                    <ion-img *ngIf="item.icon.length > 0" [src]="item.icon" class="w100"></ion-img>
                    <!--h1 *ngIf="item.name">{{item.name}}</h1>
                    <p *ngIf="item.description">{{item.description}}</p-->
                </ion-slide>
            </ion-slides>
            <ion-button size="small" class="left-p" fill="clear" color="light" (click)="slidePrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" class="right-p" fill="clear" color="light" (click)="slideNext()" >
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </div>

        <div class="m15">
            <h2 *ngIf="userData._user" class="hello">Hola {{userData._user.firstName}}!</h2>
            <h2 *ngIf="!userData._user">Hola!</h2>
            <h3>Bienvenido a Petworld.</h3>
            <br/>
            <ion-button class="button merchant-categories__header-button right" style="padding:0" (click)="login()" size="small" *ngIf="!userData._user">
                Entrar
            </ion-button>

        </div>
        <div class="clear"></div>
        <div *ngFor="let item of setcategories">
            <h2 class="pl15 category-title">{{item.title}}</h2>
            <div class="mainCategories">
                <div class="clear"></div>
                <div (click)="openCategory(category)" *ngFor="let category of item.categories" class="cat-item">
                    <div class="mainCategories__list ">
                        <img [src]="category.icon" item-start>
                    </div>
                    <span class="mainCategories__list--text" *ngIf="false">
                        <span>{{category.name}}</span>
                    </span>
                </div>
            </div>
        </div>
        <h2 class="pl15 category-title" *ngIf="merchant_categories.length>0">Conoce un especialista</h2>
        <div class="mainCategories" *ngIf="merchant_categories.length>0">
            <div (click)="openItem(item,1,'CategoryMerchant','',false,false)" *ngFor="let item of merchant_categories" class="cat-item">
                <div class="mainCategories__list ">
                    <img [src]="item.icon" item-start>
                </div>

                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                </span>
            </div>
        </div>
        <br/>
        <h2 class="pl15 category-title" *ngIf="report_categories.length>0">Adopcion</h2>
        <div class="mainCategories" *ngIf="report_categories.length>0">
            <div class="clear"></div>
            <div (click)="openItem(item,1,'CategoryReport','',true,false)" *ngFor="let item of report_categories" class="cat-item">
                <div class="mainCategories__list ">
                    <img [src]="item.icon" item-start>
                </div>

                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                </span>
            </div>
        </div>
        <h2 class="pl15 category-title" *ngIf="product_categories.length>0">Compras</h2>
        <div class="mainCategories" *ngIf="product_categories.length>0">
            <div class="clear"></div>
            <div (click)="openItem(item,1,'CategoryProduct','',false,true)" *ngFor="let item of product_categories" class="cat-item">
                <div class="mainCategories__list ">
                    <img [src]="item.icon" item-start>
                </div>

                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                </span>
            </div>
        </div>
        <br/>
        <h2 class="pl15" *ngIf="latest_reports.length>0">Ultimos Amigos para adoptar</h2>
        <div class="mainCategories" *ngIf="latest_reports.length>0">
            <div class="clear"></div>
            <ion-card class="product__item left m0 w100" *ngFor="let item of latest_reports">

                <ion-card-header class="product-header__information">
                    <span>{{item.name}} </span>
                </ion-card-header>
                <ion-card-content>
                    <ion-slides>
                        <ion-slide *ngIf="item.icon">
                            <img [src]="item.icon" class="image--large " alt="starters-html.jpg" style="max-height: 10em; object-fit:fill">
                        </ion-slide>
                        <ion-slide *ngFor="let img of item.files">
                            <img [src]="img.file" class="image--large " alt="starters-html.jpg" style="max-height: 10em; object-fit:fill">
                        </ion-slide>
                    </ion-slides>
                    <div [innerHtml]="item.description" class="hide-text" [ngClass]="{'show' : item.description_more}"></div>
                    <ion-button color="primary" (click)="openItem(item,11,'Report','',true,false)" class='mb10 right'>
                        Mas
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>
        <br/>
        <h2 class="pl15 category-title" *ngIf="stores.length>0">tiendas</h2>
        <div class="mainCategories" *ngIf="stores.length>0">

            <div class="clear"></div>
            <div (click)="openItem(item,7,'Merchant','products',false,true)" *ngFor="let item of stores" class="cat-item">
                <div class="mainCategories__list ">
                    <img [src]="item.icon" item-start>
                </div>

                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                </span>
            </div>
        </div>
        <br/>
        <h2 class="pl15 category-title" *ngIf="centers.length>0">Servicios</h2>
        <div class="mainCategories" *ngIf="centers.length>0">

            <div class="clear"></div>
            <div (click)="openItem(item,5,'Merchant','book',false,false)" *ngFor="let item of centers" class="cat-item">
                <div class="mainCategories__list ">
                    <img [src]="item.icon" item-start>
                </div>

                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                </span>
            </div>
        </div>
        <br/>
        <div *ngFor="let cat of productCategories" class="prods-cont">
            <h2 style="margin-left: 15px;" (click)="showMoreCat(cat)" *ngIf="cat.products.length > 0">{{cat.name}}</h2>
            <div *ngIf="cat.products.length > 0">
                <ion-card class="product__item left w100 m0" *ngFor="let item of cat.products">
                    <ion-card-header class="product-header__information" (click)="showMoreItem(item)" *ngIf="item.onsale">
                        <span>{{item.name}}</span>
                    </ion-card-header>
                    <ion-card-header class="product-header__information" (click)="showMoreItem(item)" *ngIf="!item.onsale">
                        <span>{{item.name}} </span>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-slides>
                            <ion-slide *ngFor="let img of item.imgs">
                                <img [src]="img.file" class="image--large " alt="starters-html.jpg" style="max-height: 10em; object-fit:fill">
                            </ion-slide>
                        </ion-slides>
                        <div [innerHtml]="item.description" class="hide-text" [ngClass]="{'show' : item.description_more}"></div>
                        <a class="right" href='javascript:;' (click)="showMore(item)">{{  item.description_more ? showLessText: showMoreText}}
                        </a> 
                        <div class="clear"></div>
                        <ion-item style="padding:0">
                            <ion-label *ngIf="item.id==80 || item.id==81">{{ 'PRODUCTS.VARIANTS2' | translate }}</ion-label> 
                            <ion-label *ngIf="item.id!=80&&item.id!=81">{{ 'PRODUCTS.VARIANTS' | translate }}</ion-label> 
                            <ion-select [(ngModel)]="item.variant_id" (ionChange)="selectVariant(item)">
                                <ion-select-option *ngFor="let variant of item.variants" [value]='variant.id'>{{variant.description}} -
                                    {{variant.unitPrice | currency }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item style="padding:0">
                            <ion-label>{{ 'PRODUCTS.AMOUNT' | translate }}</ion-label>
                            <ion-select [(ngModel)]="item.amount" (ionChange)="selectVariant(item)">
                                <ion-select-option *ngFor="let option of possibleAmounts" [value]='option.value'>{{option.value}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="left mt15 w50" *ngIf="item.onsale">
                            <p><b class="exprice">{{item.exsubtotal | currency }}</b><br/><b class="price">{{item.subtotal | currency }}</b></p>
                        </div>
                        <div class="left mt15 w50" *ngIf="!item.onsale">
                            <p class="price"><b>{{item.subtotal | currency }}</b></p>
                        </div>
                        <div *ngIf="isOwner" class="right mt10">
                            <ion-button class="btn-primary" (click)="editProduct(item.id)">{{ 'INPUTS.EDIT' | translate }}
                            </ion-button>
                            <ion-button color="primary" (click)="editImages(item.id)">
                                {{ 'EDIT_PRODUCTS.IMAGES' | translate }}
                            </ion-button>
                        </div>
                        <div *ngIf="!isOwner" class="right mt10">
                            <ion-button color="primary" full (click)="addCart(item)" *ngIf="!item.inCart">{{ 'PRODUCTS.ADD' | translate }}</ion-button>
                            <ion-button color="primary" full (click)="addCart(item)" *ngIf="false" disabled>{{ 'PRODUCTS.ADD' | translate }}</ion-button>
                            <div class="content-increment-product" *ngIf="item.inCart">
                                <ion-button outline style="font-size:20px;" (click)="reduceCartItem(item)">-</ion-button>
                                <label> {{item.amount}}</label>
                                <ion-button outline style="font-size:20px;" (click)="increaseCartItem(item)">+</ion-button>
                            </div> 
                        </div>
                        <div class="clear"></div>
                    </ion-card-content>
                </ion-card>
                <div class="clear"></div>
            </div>

        </div>

        <br/>
        <ion-list class="news">
            <ion-item class="pr10 pl10" *ngFor="let item of newsItems" (click)="openArticle(item)">
                <ion-thumbnail slot="start" *ngIf="item.icon.length > 0" class="w30 h100">
                    <ion-img [src]="item.icon"></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap w70 h100">
                    <h3 class="mt10 mb10" *ngIf="item.name">{{item.name}}</h3>
                    <p class="mb5"><b>{{item.start_date | date:'mediumDate'}}</b></p>
                    <p *ngIf="item.description">{{item.description}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>