<ion-header class="section__header">
  <ion-toolbar>
    <ion-title>{{ 'ADDRESSES.TITLE' | translate }}</ion-title>
    <ion-buttons class="my-addresses__button my-addresses__button--right"  slot="primary">
      <ion-button  icon-only (click)="showPrompt()">
        <ion-icon class="add-button" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="my-addresses">
  <div class="my-addresses__wrapper">
      <ion-list>
          <ion-item-sliding *ngFor="let item of currentItems">
            <ion-item (click)="editAddress(item)">
              <h2>{{item.name}}</h2>
              <p>{{item.address}}</p>
              <p>{{item.type}} <span *ngIf="item.type == 'denied'">{{ 'PAYMENT.DENIED2' | translate }}</span> 
            <span *ngIf="item.type == 'buyer'">{{ 'ADDRESSES.BUYER' | translate }}</span>
              <span *ngIf="item.type == 'shipping'">{{ 'ADDRESSES.SHIPPING' | translate }}</span>
              <span *ngIf="item.type == 'billing'">{{ 'ADDRESSES.BILLING' | translate }}</span></p>
            </ion-item>
            <ion-item-options>  
              <ion-button color="danger" (click)="deleteAddress(item)">
                {{ 'DELETE_BUTTON' | translate }}
              </ion-button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
  </div>
</ion-content>