<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-select [(ngModel)]="category" interface="popover" style="padding-left: 0;" (ionChange)="searchCategory()" *ngIf="typeSearch!='own'">
                <ion-select-option value="{{category.id}}" *ngFor="let category of categoryItems">{{category.name}}</ion-select-option>
            </ion-select>
            <!--span class="location"><small margin-right>Location</small>
                <ion-select [(ngModel)]="location" interface="popover" class="location">
                    <ion-select-option value="b1">Wallington</ion-select-option>
                    <ion-select-option value="b2">Nerobi</ion-select-option>
                    <ion-select-option value="b3">Central Park</ion-select-option>
                </ion-select>
            </span-->
        </ion-title>
        <ion-searchbar [(ngModel)]="textSearch" placeholder="Search..." debounce="1500" (ionChange)="searchText()" *ngIf="typeSearch=='own'"></ion-searchbar>
    </ion-toolbar>
    <div class="filter" *ngIf="typeSearch!='own'" padding>
        <ion-row>
            <!--ion-col size="4" class="text-danger" text-left (click)="filter()">
                     <ion-icon name="md-funnel"></ion-icon>Filter</ion-col-->
            <ion-col size="4" text-center>{{totalResults}} {{ 'MERCHANT_LISTING.RESULTS_FOUND' | translate }}</ion-col>
            <ion-col size="4" class="text-danger" text-right><ion-button clear class="btn success" (click)="searchNearby()">{{ 'MERCHANT_LISTING.NEARBY' | translate }}</ion-button></ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content class="bg-light">
    <ion-list>
        <ion-card *ngFor="let item of merchants">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="item.icon">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <p>{{item.type}}</p>
                <ion-button clear class="btn success" (click)="openItem(item)">{{ 'MERCHANT_LISTING.VIEW' | translate }}</ion-button>
            </ion-item>
            <ion-card-content [innerHtml]="item.description" >
            </ion-card-content>

            <ion-row class="about-row">
                <ion-col size="5" center text-left>
                    {{ 'MERCHANT_LISTING.EXPERIENCE' | translate }} <strong>{{item.attributes.years_experience }} {{ 'MERCHANT_LISTING.YEARS' | translate }}</strong>
                </ion-col>
                <ion-col center text-center>
                    {{ 'MERCHANT_LISTING.FEE' | translate }} <strong>{{item.unit_cost | currency}}</strong>
                </ion-col>
                <ion-col size="5" center text-right>
                    {{ 'MERCHANT_LISTING.FEEDBACK' | translate }}
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star"></ion-icon>
                    <span>&nbsp;&nbsp;({{item.rating_count }})</span>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMerchants($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
