<ion-header>
    <ion-toolbar>
        <ion-buttons class="button-back--center" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>

            <!--span class="location"><small margin-right>Location</small>
            <ion-select [(ngModel)]="location" interface="popover" class="location">
                <ion-select-option value="b1">Wallington</ion-select-option>
                <ion-select-option value="b2">Nerobi</ion-select-option>
                <ion-select-option value="b3">Central Park</ion-select-option>
            </ion-select>
        </span-->

        </ion-title>
        <ion-buttons class="my-addresses__button my-addresses__button--right" *ngIf="typeSearch=='own'" slot="primary">
            <ion-button icon-only (click)="createItem()">
                <ion-icon class="add-button" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar class="search__item" [(ngModel)]="textSearch" placeholder="Search..." debounce="1500"
            (ionChange)="searchText()" *ngIf="typeSearch!='own'"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light merchant-list">
    <ion-item>
        <ion-label class="select__label">XXX</ion-label>
        <ion-select [(ngModel)]="category" interface="popover" (ionChange)="searchCategory()"
            *ngIf="typeSearch!='own'|| false">
            <ion-select-option value="{{category.id}}" *ngFor="let category of categoryItems">{{category.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <div class="merchant-list__wrapper">
        <p class="total-result">{{totalResults}} {{ 'MERCHANT_LISTING.RESULTS_FOUND' | translate }}</p>
        <div class="block--right">
            <ion-button clear size="small" class="btn success" (click)="searchNearby()" *ngIf="typeSearch!='own'|| false">
                {{ 'MERCHANT_LISTING.NEARBY' | translate }}</ion-button>
        </div>
        <p *ngIf="merchants.length ==0">{{ 'INPUTS.NO_RESULTS' | translate }}</p>
        <ion-list>
            <ion-card class="card-component" *ngFor="let item of merchants">
                <ion-item>
                    <ion-avatar class="card-component__avatar" item-start>
                        <img [src]="item.icon">
                    </ion-avatar>
                    <h2>{{item.name}}</h2>
                </ion-item>
                <ion-card-content class="card-component__content" [innerHtml]="item.description">
                </ion-card-content>
                <div class="block--right">
                        <ion-button clear size="small" class="btn success" (click)="openItem(item)">
                                {{ 'MERCHANT_LISTING.VIEW' | translate }}
                            </ion-button>
                </div>
                <div class="card-component__stats">
                    <div class="card-component__stats-item">
                        <strong>
                            {{ 'MERCHANT_LISTING.EXPERIENCE' | translate }}:</strong>
                        {{item.attributes.years_experience }}
                        {{ 'MERCHANT_LISTING.YEARS' | translate }}
                    </div>
                    <div class="card-component__stats-item">
                        <strong>
                            {{ 'MERCHANT_LISTING.FEE' | translate }}:
                        </strong>
                        {{item.unit_cost | currency}}
                    </div>
                    <div class="card-component__stats-item">
                        <strong>
                            {{ 'MERCHANT_LISTING.FEEDBACK' | translate }}:
                        </strong>
                        <div class="rating-container">
                            <div class="rating-box" [style.width]="(item.rating*20)+'%'">
                                <ion-icon name="md-star"></ion-icon>
                                <ion-icon name="md-star"></ion-icon>
                                <ion-icon name="md-star"></ion-icon>
                                <ion-icon name="md-star"></ion-icon>
                                <ion-icon name="md-star"></ion-icon>
                            </div>
                        </div>
                        <span>{{item.rating }} de ({{item.rating_count }})</span>
                    </div>
                </div>
            </ion-card>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="getMerchants($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>