<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-select [(ngModel)]="category" interface="popover" style="padding-left: 0;">
                <ion-select-option value="{{category.id}}" *ngFor="let category of categoryItems">{{category.name}}</ion-select-option>
            </ion-select>
            <span class="location"><small margin-right>Location</small>
                <ion-select [(ngModel)]="location" interface="popover" class="location">
                    <ion-select-option value="b1">Wallington</ion-select-option>
                    <ion-select-option value="b2">Nerobi</ion-select-option>
                    <ion-select-option value="b3">Central Park</ion-select-option>
                </ion-select>
            </span>
        </ion-title>
    </ion-toolbar>
    <div class="filter" padding>
        <ion-row>
            <ion-col size="4" class="text-danger" text-left (click)="filter()">
                     <ion-icon name="md-funnel"></ion-icon>Filter</ion-col>
            <ion-col size="4" text-center>234 result found</ion-col>
            <ion-col size="4" class="text-danger" text-right (click)="map()">View in map</ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content class="bg-light">
    <ion-list>
        <ion-card *ngFor="let item of merchants">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="item.icon">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <p>{{item.type}}</p>
                <ion-button clear class="btn success" (click)="openItem(item)">View</ion-button>
            </ion-item>
            <ion-card-content [innerHtml]="item.description" >
            </ion-card-content>

            <ion-row class="about-row">
                <ion-col size="5" center text-left>
                    Experience <strong>22 Years</strong>
                </ion-col>
                <ion-col center text-center>
                    Fee <strong>{{item.unit_cost | currency}}</strong>
                </ion-col>
                <ion-col size="5" center text-right>
                    Feedback
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star" class="active"></ion-icon>
                    <ion-icon name="md-star"></ion-icon>
                    <span>&nbsp;&nbsp;({{item.rating_count }})</span>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMerchants($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
