<ion-header class="section__header">
    <ion-toolbar>
        <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="my-settings">
    <div class="webcont">
        <ion-list class="my-settings__wrapper">
            <ion-item (click)="openItem('/shop/settings/my-account')">
                <ion-label>
                    <img src="assets/icon/mi-cuenta.svg" />
                    <h2>{{ 'SETTINGS.MY_ACCOUNT' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/documents')">
                <ion-label>
                    <img src="assets/icon/money.svg" />
                    <h2>{{ 'SETTINGS.DOCUMENTS' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/merchants')">
                <ion-label>
                    <img src="assets/icon/money.svg" />
                    <h2>{{ 'SETTINGS.MERCHANTS' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/addresses')">
                <ion-label>
                    <img src="assets/icon/mis-direcciones.svg" />
                    <h2>{{ 'SETTINGS.ADDRESSES' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/payments')">
                <ion-label>
                    <img src="assets/icon/mis-pagos.svg" />
                    <h2>{{ 'SETTINGS.PAYMENTS' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/password')">
                <ion-label>
                    <img src="assets/icon/contrasena.svg" />
                    <h2>{{ 'SETTINGS.PASSWORD' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/bookings')">
                <ion-label>
                    <img src="assets/icon/calendar.svg" />
                    <h2>{{ 'SETTINGS.BOOKINGS' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="openItem('/shop/settings/faqs')">
                <ion-label>
                    <img src="assets/icon/calendar.svg" />
                    <h2>{{ 'SETTINGS.FAQ' | translate }}</h2>
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()">
                <ion-label>
                    <img src="assets/icon/cerrar-sesion.svg" />
                    <h2>{{ 'SETTINGS.LOGOUT' | translate }}</h2>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>