.call {
    width: 100%;
    height:100%;
    position:relative;
    
    ion-button{
        width:48%;
        bottom:0;
        float:left;
    }
    #subscriber {
        height: 89%;
    }
}
.waiting {
    padding-top:60%;
}
