<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>opentok</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="activeCall" class="call">
        <div id="subscriber"></div>
        <div id="publisher"></div> 
        <ion-button (click)="endCall()">End Call</ion-button>
        <ion-button (click)="viewNotes()">View Notes</ion-button>
    </div>
    <div *ngIf="!activeCall">
        <div style="text-align:center">
            <ion-button (click)="startCall()">Start OpenTok Call</ion-button>
        </div>
    </div>


</ion-content>
