<ion-header>
  <ion-toolbar>
    <ion-title>mercado-pago-options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="getPaymentMethods()">Enter</ion-button>
<ion-list>
        <ion-card *ngFor="let item of paymentMethods">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="item.secure_thumbnail">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                
                <ion-button clear class="btn success" (click)="openItem(item)">{{ 'MERCHANT_LISTING.VIEW' | translate }}</ion-button>
            </ion-item>
            <ion-card-content>
                <p>Cantidad máxima: {{item.max_allowed_amount}}</p>
                <p>Cantidad mínima: {{item.min_allowed_amount}}</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
