<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'BOOKING.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img [src]="objectIcon">
            </ion-avatar>
            <h2>{{objectName}}</h2>
        </ion-item>
    </ion-card>
</ion-header>

<ion-content class="bg-light">
    <div class="calender-container" *ngIf="!dateSelected">
        <ion-card *ngFor="let month of months">
            <ion-card-header>
                <ion-card-title class="tcenter">{{ month.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <div class="calander">
                    <div class="calander-row"> 
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let item of month.days" (click)="selectDate(item)">
                                    <div class="day active" >
                                        <span>{{item | date :'E'}}</span>{{item | date :'d'}}
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </div>
                </div>
            </ion-card-content>
        </ion-card>

    </div>
    <div class="ion-padding" *ngIf="dateSelected">
         <p>{{ 'BOOKING.AVAILABLE_TIMES' | translate }}:</p>
        <div class="timeing">
            <ion-row>
                <ion-col *ngFor="let item of availabilitiesDate"><span>{{item.from}}-{{item.to}}</span></ion-col>
            </ion-row>
        </div>
        <p *ngIf="selectedSpots.length>0">{{ 'BOOKING.OCCUPIED_SLOTS' | translate }}</p>
        <div class="timeing">
            <ion-row>
                <ion-col *ngFor="let item of selectedSpots"><span>{{item.starts_at | date :'h:mm A'}}-{{item.ends_at | date :'h:mm A'}}</span></ion-col>
            </ion-row>
        </div>
        <div class="difault-form">
            <ion-item>
                <ion-label>{{ 'BOOKING.HOURS' | translate }}</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="amount" (ionChange)="selectStart()">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'BOOKING.START_TIME' | translate }}</ion-label>
                <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="startDateS" (ionChange)="selectStart()"></ion-datetime>
            </ion-item>

            <ion-item *ngIf="timeSelected">
                <ion-label>{{ 'BOOKING.END_TIME' | translate }}</ion-label>
                <p style='color: gray'>{{endDate | date :'h:mm a'}}</p> 
            </ion-item>
            <ion-card *ngIf="timeSelected">
                <ion-card-header>
                    <ion-card-title>{{ 'BOOKING.DETAILS' | translate }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">{{ 'BOOKING.TYPE_HELP' | translate }}</ion-label>
                        <ion-input type="text" [(ngModel)]="atributesCont.type_help"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-textarea class="mb20" placeholder="{{ 'BOOKING.TYPE_DESC' | translate }}" [(ngModel)]="atributesCont.desc_item"></ion-textarea>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <br>  
            <ion-button full class="btn success right" (click)="saveOrCreateBooking()"  *ngIf="timeSelected">{{ 'BOOKING.MAKE_RESERVATION' | translate }}</ion-button>
        </div>
    </div>
</ion-content>