<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'BOOKING.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img [src]="objectIcon">
            </ion-avatar>
            <h2>{{objectName}}</h2>
            <p>{{objectDescription}}</p>
        </ion-item>
    </ion-card>
</ion-header>

<ion-content class="bg-light">
    <div class="calender-container" *ngIf="!dateSelected">
        <div class="calander">
            <div class="calander-row">
                <div class="day active" *ngFor="let item of availableDates" (click)="selectDate(item)"><span>{{item | date :'E'}}</span>{{item | date :'d'}}</div>
            </div>
        </div>
    </div>
    <div class="icon-calander" *ngIf="!dateSelected">
        <ion-icon name="md-calendar" class="text-success"></ion-icon>
    </div>
    <div padding *ngIf="dateSelected">
         <p>{{ 'BOOKING.AVAILABLE_TIMES' | translate }}:</p>
        <div class="timeing">
            <ion-row>
                <ion-col *ngFor="let item of availabilitiesDate"><span>{{item.from}}-{{item.to}}</span></ion-col>
            </ion-row>
        </div>
        <p *ngIf="selectedSpots.length>0">{{ 'BOOKING.OCCUPIED_SLOTS' | translate }}</p>
        <div class="timeing">
            <ion-row>
                <ion-col *ngFor="let item of selectedSpots"><span>{{item.starts_at | date :'h:mm A'}}-{{item.ends_at | date :'h:mm A'}}</span></ion-col>
            </ion-row>
        </div>
        <div class="difault-form">
            <ion-item>
                <ion-label>{{ 'BOOKING.START_TIME' | translate }}</ion-label>
                <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="startDateS" (ionChange)="selectStart()"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'BOOKING.HOURS' | translate }}</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="amount" (ionChange)="selectStart()">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <p>{{ 'BOOKING.END_TIME' | translate }}: {{endDate | date :'h:mm a'}}</p>
            </ion-item>
            
            <br>  
            <ion-button full class="btn success" (click)="createBooking()">{{ 'BOOKING.MAKE_RESERVATION' | translate }}</ion-button>
        </div>
    </div>
</ion-content>