<ion-header>
    <ion-toolbar class="mainHeader">
        <ion-title>
            Find Doctor
            <span><small  margin-right>Location</small>
                <ion-select [(ngModel)]="location" interface="popover" class="location">
                    <ion-select-option value="n1">Wallington</ion-select-option>
                    <ion-select-option value="n2">Nerobi</ion-select-option>
                    <ion-select-option value="n3">Central Park</ion-select-option>
                </ion-select>
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <div class="quick-link bg-white">
        <ion-button class="button" (click)="openMenu()" expand="block"><ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>Notifs</ion-button>
        <p class="text-danger">Categorias</p>
        <ion-list class="mainCategories">
            <ion-item (click)="openItem(item)" *ngFor="let item of items" class="mainCategories__list">
                <img src="assets/imgs/dentist-1.jpg" item-start>
                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                    <small>{{item.description}}</small>
                </span>
                <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                <!-- <ion-icon name="ion-ios-arrow-round-forward" item-end></ion-icon> -->
            </ion-item> 
        </ion-list>
    </div>

</ion-content>
