.checkout {
    &-prepare {
        &__items {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 3px;
            border-bottom: 3px solid rgba(gray, .3);
        }
    }

    &__item {
        border-bottom: 1px solid rgba(gray, .3);
        padding: 3px 0;
        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
        &--delete {
            color: red;
            text-align: right;
            font-weight: 800;
            padding-top: 10px;
        }
    }
}