<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'IMAGES.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item  *ngFor="let item of images">
            <ion-thumbnail slot="start">
                <img [src]="item.file">
            </ion-thumbnail>
            <ion-label>
                <ion-button color="danger" (click)="deleteImage(item.id)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button color="primary" (click)="openImages()">
        {{ 'IMAGES.IMAGE_PICKER' | translate }}
    </ion-button>
    <ion-button color="secondary" (click)="done()">
        {{ 'IMAGES.DONE' | translate }}
    </ion-button>
</ion-content>
