<ion-content class="login">
    <div class="login__wrapper">
        <form (submit)="doLogin()">
            <p class="login__title">{{ 'LOGIN.TITLE' | translate }}</p>
            <ion-list class="login__create">
                <!--
                      Want to use a Username instead of an Email? Here you go:
                      <ion-item>
                          <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
                          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
                      </ion-item>
                -->
                <ion-item class="login__item">
                    <ion-label position="floating">{{ 'LOGIN.USERNAME' | translate }}</ion-label>
                    <ion-input type="text" [(ngModel)]="account.username" name="username" required></ion-input>
                </ion-item>
                <ion-item class="login__item">
                    <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" [(ngModel)]="account.password" name="password" required></ion-input>
                </ion-item>
                <ion-item class="login__item login--remember">
                    <ion-label>{{ 'INPUTS.REMEMBER' | translate }}</ion-label>
                    <ion-checkbox [(ngModel)]="account.remember" name="remember"></ion-checkbox>
                </ion-item>
                <div padding class="login__enter">
                    <ion-button type="submit" class="button" expand="block">Ingresar</ion-button>
                </div>
            </ion-list>
        </form>
        <div padding class="login__create-account">
            <ion-button class="button" (click)="singup()" expand="block">Crear cuenta</ion-button>
        </div>
        <div padding class="login__create-account">
            <br/>
            <a href="javascript:;" (click)="forgotPass()">{{ 'LOGIN.FORGOT_PASS' | translate }}</a>

        </div>
    </div>
    <div class="login__image">
        <img src="assets/logo-login.svg" alt="">
    </div>
</ion-content>