<ion-app>
    <ion-split-pane contentId="main-content">



        <!-- the main content -->
        <ion-router-outlet id="main-content"></ion-router-outlet>
        <!--  our side menu  -->
        <ion-menu side="end" contentId="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list class="menu__toggle">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of items" (click)="openNotification(p)">
                        <img width="40" src="https://s3.us-east-2.amazonaws.com/gohife/public/icons/{{p.type}}.svg" />
                        <span class="menu__toggle">{{p.created_at | date}}</span><br/>
                        {{p.subject}}
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
    </ion-split-pane>
</ion-app>
