<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="!showPayment">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'CHECKOUT_PREPARE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content class="checkout-prepare">
    <div class="checkout-prepare--wrapper">
        <div>
            <ion-card >        
                <ion-card-header class="product-header-information">            
                    <span>{{ 'CHECKOUT_PREPARE.COMPLETE' | translate }}</span>        
                </ion-card-header>        
                <ion-card-content>
                    <div *ngIf="paymentMethod !='IN_BANK'">
                        <p>{{ 'CHECKOUT_PREPARE.YOUR_TOTAL' | translate }}: {{payment.subtotal | currency }}</p>    
                        <p>{{ 'PAYMENT.TRANSACTION_COST' | translate }}: {{payment.transaction_cost | currency }}</p>    
                        <p>{{ 'PAYMENT.TOTAL' | translate }}: {{payment.total | currency }}</p>  
                    </div>
                    <div *ngIf="paymentMethod =='IN_BANK'">
                        <p>{{ 'CHECKOUT_PREPARE.YOUR_TOTAL' | translate }}: {{payment.subtotal | currency }}</p> 
                    </div>                                       
                </ion-card-content>
            </ion-card> 
            <p class="checkout-prepare__description">{{ 'CHECKOUT_PREPARE.DESCRIPTION2' | translate }}</p>
            <p class="checkout-prepare__description"><strong>{{ 'CHECKOUT_PREPARE.DESCRIPTION3' | translate }}</strong></p>
            <ion-list>
                <ion-radio-group [(ngModel)]="paymentMethod">
                    <ion-item>
                        <ion-label>{{ 'CHECKOUT_PREPARE.CC' | translate }}</ion-label>
                        <ion-radio slot="start" value="CC" checked></ion-radio>
                    </ion-item>
                    <ion-item *ngIf="hasSavedCard">
                        <ion-label>{{ 'CHECKOUT_PREPARE.QUICK' | translate }}</ion-label>
                        <ion-radio slot="start" value="QUICK"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{ 'CHECKOUT_PREPARE.DEBIT' | translate }}</ion-label>
                        <ion-radio slot="start" value="Banks" ></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{ 'CHECKOUT_PREPARE.IN_BANK' | translate }}</ion-label>
                        <ion-radio slot="start" value="IN_BANK" ></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{ 'CHECKOUT_PREPARE.CASH' | translate }}</ion-label>
                        <ion-radio slot="start" value="Cash" ></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <ion-button class="btn-secondary" (click)="selectPaymentOption()">{{ 'CHECKOUT_PREPARE.CONTINUE' | translate }}</ion-button>
        </div>

    </div>
</ion-content>