<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'AVAILABILITIES.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of currentItems">
            <ion-item (click)="openItem(item)">
                <h2>{{ 'AVAILABILITIES.RANGE' | translate }}: <span *ngIf="item.range == 'sunday'">{{ 'DAYS.SUNDAY' | translate }}</span>
                <span *ngIf="item.range == 'monday'">{{ 'DAYS.MONDAY' | translate }}</span>
                <span *ngIf="item.range == 'tuesday'">{{ 'DAYS.TUESDAY' | translate }}</span>
                <span *ngIf="item.range == 'wednesday'">{{ 'DAYS.WEDNESDAY' | translate }}</span>
                <span *ngIf="item.range == 'thursday'">{{ 'DAYS.THURSDAY' | translate }}</span>
                <span *ngIf="item.range == 'friday'">{{ 'DAYS.FRIDAY' | translate }}</span>
                <span *ngIf="item.range == 'saturday'">{{ 'DAYS.SATURDAY' | translate }}</span></h2>
                <p>{{ 'AVAILABILITIES.FROM' | translate }}: {{item.from | date:'HH:mm'}}</p>
                <p>{{ 'AVAILABILITIES.TO' | translate }}: {{item.to | date:'HH:mm'}}</p>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
