<ion-header class="section__header">

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="shop/home/checkout/prepare"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'CHECKOUT_CASH.TITLE' | translate }}</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="webcont">
        <ion-card>
            <ion-card-content>
                <ion-item >
                    <img class="w20" src="assets/logos/payu.png" alt="PayU Latam" border="0" />
                </ion-item>
                <ion-item >
                    <p>{{ 'CHECKOUT_CASH.OTHERS' | translate }}</p>
                </ion-item>
                
                <ion-item class="cash-main-logos" >
                    <img (click)="selectOption('BALOTO')" src="assets/logos/baloto.jpg">
                    <img (click)="selectOption('EFECTY')" src="assets/logos/efecty.png">
                </ion-item>
                <ion-item class="cash-logos" (click)="selectOption('OTHERS_CASH')">
                    <img src="assets/logos/pagatodo.png">
                    <img src="assets/logos/ac75.png">
                    <img src="assets/logos/gana.png">
                </ion-item>
                <ion-item  class="cash-logos" (click)="selectOption('OTHERS_CASH')">
                    <img src="assets/logos/ganagana.png">
                    <img src="assets/logos/suchance.png">
                    <img src="assets/logos/acertemos.png">
                </ion-item>
                <ion-item  class="cash-logos" (click)="selectOption('OTHERS_CASH')">
                    <img src="assets/logos/laperla.png">
                    <img src="assets/logos/apuestas-unidas.jpg">
                </ion-item>
                <ion-list class="mt15">
                    <ion-item > 
                        <ion-label>{{ 'INPUTS.MY_DATA' | translate }}</ion-label>
                        <ion-checkbox [(ngModel)]="v" (click)="useUser()"></ion-checkbox>
                    </ion-item>
                </ion-list>   


                <form  (submit)="payCash()" [formGroup]="payerForm" >
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">{{ 'CHECKOUT_CASH.OPTIONS' | translate }}</ion-label>
                            <ion-select formControlName="payment_method">
                                <ion-select-option value="BALOTO">Baloto</ion-select-option>
                                <ion-select-option value="EFECTY">Efecty</ion-select-option>
                                <ion-select-option value="OTHERS_CASH">Otros metodos</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="!payerForm.controls.payment_method.valid  && (payerForm.controls.payment_method.dirty || submitAttempt)">
                            <p class="error-message">{{ 'CHECKOUT_CASH.TYPE_ERROR' | translate }}</p>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">{{ 'USER.EMAIL' | translate }}</ion-label>
                            <ion-input type="text" formControlName="payer_email"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!payerForm.controls.payer_email.valid  && (payerForm.controls.payer_email.dirty || submitAttempt)">
                            <p class="error-message">{{ 'USER.EMAIL_ERROR' | translate }}</p>
                        </ion-item>

                    </ion-list>
                    <ion-button class="btn-secondary right m10" type="submit" >{{ 'INPUTS.SUBMIT' | translate }}</ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
