<ion-header class="section__header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!--div *ngIf="orderData.cartData.totalItems" id="counter-items">{{orderData.cartData.totalItems}}</div-->
        <ion-title class="ion__title">
            <!-- &nbsp; -->
            {{ 'PRODUCTS.TITLE' | translate }}
            <!--span class="shareIcons">
                <ion-icon name="ios-bookmark-outline" item-start></ion-icon>
                <ion-icon name="md-share" item-start></ion-icon>
                <ion-icon name="md-more" item-start></ion-icon>
            </span-->
            <div class="content-car">
                <!--div *ngIf="orderData.cartData.totalItems" id="counter-items">{{orderData.cartData.totalItems}}</div-->
                <ion-button icon-only clear (click)="openCart()"><ion-icon name="cart"></ion-icon></ion-button>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="product">
    <ion-card class="product-header product-header---main"  *ngIf="categories.length > 0">
        <ion-card-header class="product-header__information">
            <span>{{merchantObj.merchant_name}}</span>
        </ion-card-header>
        <img [src]="merchantObj.src" *ngIf="merchantObj.src"/>
        <ion-card-content class="product-header__content">
            <p [innerHtml]="merchantObj.merchant_description"  class="hide-text merchant" [ngClass]="{'show' : merchantObj.merchant_description_more}">
        </p>
        <button class="btn-secondary view" (click)="showMoreM(merchantObj)">{{  merchantObj.merchant_description_more ? showLessText: showMoreText}}
        </button>
    </ion-card-content>
</ion-card> 

<div *ngFor="let cat of categories">
    <h2 style="margin-left: 15px;" (click)="showMoreCat(cat)">{{cat.name}}</h2>
    <div *ngIf="cat.more">
        <ion-card class="product__item" *ngFor="let item of cat.products">
                  <ion-card-header class="product-header__information" (click)="showMoreItem(item)">
                <span>{{item.name}}</span><ion-icon name="arrow-dropdown" *ngIf="!item.more"></ion-icon><ion-icon name="arrow-dropup" *ngIf="item.more"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="item.more">
                <ion-slides>
                    <ion-slide *ngFor="let img of item.imgs">
                        <img [src]="img.file" class="image--large " alt="starters-html.jpg" style="max-height: 10em; width:100%;">
                    </ion-slide>
                </ion-slides>
                <div [innerHtml]="item.description" class="hide-text" [ngClass]="{'show' : item.description_more}"></div>
                <button class="btn-secondary" (click)="showMore(item)" *ngIf="merchant==1299" >{{  item.description_more ? showLessText: showMoreText}}
                </button>
                <ion-item > 
                    <ion-label>{{ 'PRODUCTS.VARIANTS' | translate }}</ion-label> 
                    <ion-select [(ngModel)]="item.variant_id" [disabled]="item.inCart" (ionChange)="selectVariant(item)">
                        <ion-select-option *ngFor="let variant of item.variants" [value]='variant.id'>{{variant.description}} -
                            {{variant.unitPrice | currency }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'PRODUCTS.AMOUNT' | translate }}</ion-label>
                    <ion-select [(ngModel)]="item.amount"  (ionChange)="calculateTotals()" >
                        <ion-select-option *ngFor="let option of possibleAmounts" [value]='option.value'>{{option.value}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label><strong>{{ 'PRODUCTS.TOTAL' | translate }}</strong> {{item.subtotal | currency }}</ion-label>
                </ion-item>
                <div *ngIf="isOwner">
                    <ion-button class="btn-secondary" (click)="editProduct(item.id)">{{ 'INPUTS.EDIT' | translate }}
                    </ion-button>
                    <ion-button color="primary" (click)="editImages(item.id)">
                        {{ 'EDIT_PRODUCTS.IMAGES' | translate }}
                    </ion-button>
                </div>
                <div *ngIf="!isOwner" class="right mt10">
                    <ion-button color="primary" full (click)="addCart(item)" *ngIf="!item.inCart">{{ 'PRODUCTS.ADD' | translate }}</ion-button>
                    <ion-button color="primary" full (click)="addCart(item)" *ngIf="false" disabled>{{ 'PRODUCTS.ADD' | translate }}</ion-button>
                    <div class="content-increment-product" *ngIf="item.inCart">
                        <ion-button outline style="font-size:20px;" (click)="reduceCartItem(item)">-</ion-button>
                        <label> {{item.amount}}</label>
                        <ion-button outline style="font-size:20px;" (click)="increaseCartItem(item)">+</ion-button>
                    </div> 
                </div>
                <div class="clear"></div>
            </ion-card-content>
        </ion-card>
    </div>
</div>
<ion-button class="btn-secondary" (click)="editProduct(0)" *ngIf="isOwner" >{{ 'PRODUCTS.NEW_PRODUCT' | translate }}
</ion-button>
</ion-content>