<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <div class="profile__menu">
            <!-- &nbsp; 
            <span class="shareIcons">
                <ion-icon name="ios-bookmark-outline" item-start></ion-icon>
                <ion-icon name="md-share" item-start></ion-icon>
                <ion-icon name="md-more" item-start></ion-icon>
            </span>-->
            <div class="content-car" *ngIf="orderData.cartData">

                <ion-button size="small" icon-only clear (click)="openCart()">
                            <ion-icon name="cart"></ion-icon>
                    <div *ngIf="orderData.cartData.totalItems" id="counter-items">({{orderData.cartData.totalItems}})</div>
                </ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="webcont">
        <div class="profile__backgrnd">
            <img src="assets/imgs/background-1.jpg" style="width:100%" alt="report" />
        </div> 
        <div class="profile__image-container">
            <div class="profile__image-wrapper" *ngIf="report.icon" >
                <div style="position: relative;width:100%;text-align: center">
                    <img [src]="report.icon" class="image--large profile__image" alt="report"/>
                </div>
            </div>
        </div>
        <div class="doctor-detail profile">
            <div class="profile__main-info">
                <h2 class="text-white text--bold">{{report.name}}</h2>
                <p class="text--italic text-white">{{report.type}}</p> 
                <p class="text--bold">{{ 'REPORT_DETAIL.HOURLY' | translate }}:</p>
                <span class="text--block">{{ report.unit_cost | currency }}</span>
                <p class="text--bold">{{ 'MERCHANT_LISTING.EXPERIENCE' | translate }}:</p>
                <span class="text--block">{{ report.attributes.years_experience }} {{ 'MERCHANT_LISTING.YEARS' | translate }}</span>
                <div class="rating-container">

                    <div class="rating-box">
                        <div>
                            <ion-icon color="warning" name="ios-star-outline"></ion-icon>
                            <ion-icon color="warning" name="ios-star-outline"></ion-icon>
                            <ion-icon color="warning" name="ios-star-outline"></ion-icon>
                            <ion-icon color="warning" name="ios-star-outline"></ion-icon>
                            <ion-icon color="warning" name="ios-star-outline"></ion-icon>
                        </div>
                        <div class="rating-box--hide" [style.width]="(report.rating*20)+'%'">
                            <ion-icon color="warning" name="md-star"></ion-icon>
                            <ion-icon color="warning" name="md-star"></ion-icon>
                            <ion-icon color="warning" name="md-star"></ion-icon>
                            <ion-icon color="warning" name="md-star"></ion-icon>
                            <ion-icon color="warning" name="md-star"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative">
            <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()" *ngIf="report.files.length>1 && galPage > 1">
                <ion-icon name="arrow-back"></ion-icon>
            </div>
            <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()" *ngIf="report.files.length>1 && galPage < report.files.length">
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
            <ion-slides *ngIf="report.files.length>0" style="height:150px;" #slides>
                <ion-slide *ngFor="let img of report.files">
                    <img [src]="img.file" alt="report">
                </ion-slide>
            </ion-slides>
        </div>

        <div class="doctor-detail__booking profile__booking">

            <div class="doctor-menu-client profile__booking" *ngIf="report.owner">
                <p class="text--center">{{ 'REPORT_DETAIL.IS_OWNER' | translate }}</p>
            </div>

            <div class="profile__description">
                <p class="profile__description-title">Perfil</p>
                <p class="profile__description-body" [innerHTML]="report.description"></p>

            </div>
        </div>
        <div class="profile__tab defult-tab bg-white">
            <ion-segment [(ngModel)]="doctor">
                <ion-segment-button value="about" color="primary" class="text-white profile__tab-item">
                    {{ 'REPORT_DETAIL.INFO' | translate }}
                </ion-segment-button>
                <ion-segment-button value="feedback" class="text-white profile__tab-item">
                    {{ 'REPORT_DETAIL.RATINGS' | translate }}
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="doctor" class="bg-light mb">
            <ion-list class="doctor__wrapper" *ngSwitchCase="'about'">
                <div class="bg-white overview">
                    <!-- <div class="map-location">//Descomentar cuando yo lo aclare
                        <img src="assets/imgs/map-location.png" style="position: absolute;height: 100%;bottom: 0;z-index: 0;">
                        <div class="profile-img active" style="top: 42%; left: 45%"><img src="assets/imgs/dentist-1.jpg"></div>
                    </div> -->
                </div>
                <div class="profile__overview bg-white overview" *ngIf="report.attributes.experience">
                    <ion-card class="profile__overview-card">
                        <ion-card-header class="profile__overview-header">
                            <ion-card-title class="profile__overview-title">{{ 'REPORT_DETAIL.EXPERIENCE' | translate }}
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content class="profile__overview-content">
                            <p *ngFor="let experience of report.attributes.experience" [innerHTML]="experience.name"> </p>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="bg-white overview" *ngIf="report.attributes.service">
                    <ion-card class="profile__overview-card">
                        <ion-card-header class="profile__overview-header">
                            <ion-card-title class="profile__overview-title">{{ 'REPORT_DETAIL.SERVICES' | translate }}
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content class="profile__overview-content">
                            <p *ngFor="let service of report.attributes.service" [innerHTML]="service.name"> </p>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="bg-white overview" *ngIf="report.attributes.specialty">
                    <ion-card class="profile__overview-card">
                        <ion-card-header class="profile__overview-header">
                            <ion-card-title class="profile__overview-title">
                                {{ 'REPORT_DETAIL.SPECIALIZATIONS' | translate }}</ion-card-title>
                        </ion-card-header>

                        <ion-card-content class="profile__overview-content">
                            <p *ngFor="let specialization of report.attributes.specialty" [innerHTML]="specialization.name"> </p>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-list>
            <ion-list *ngSwitchCase="'feedback'">
                <div class="bg-white rate-over-all">
                    <div class="rate rate--left">
                        <span> {{report.rating}} ({{report.rating_count}})</span>
                    </div>
                    <div class="rate rate--right">
                        <span>Sort By</span>
                        <ion-select [(ngModel)]="Short" interface="popover" class="location">
                            <ion-select-option value="n1">{{ 'REPORT_DETAIL.RECENT' | translate }}
                            </ion-select-option>
                            <ion-select-option value="n2">{{ 'REPORT_DETAIL.OLDEST' | translate }}
                            </ion-select-option>
                        </ion-select>
                    </div>
                </div>

                <ion-card class="profile__overview-card" *ngFor="let rating of report.ratings">
                          <ion-item>
                        <p>{{rating.pseudonim}}</p>
                    </ion-item>
                    <ion-item>
                        <div>
                            <strong class="left pr10">({{rating.rating}})</strong>
                            <div class="rating-container2">
                                <div class="rating-box2" [style.width]="(rating.rating*20)+'%'">
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                        <div class="rate rate--right">
                            <span>{{rating.updated_at | date}}</span>
                        </div>
                    </ion-item>
                    <ion-card-content class="profile__overview-comment ion-no-padding">
                        {{rating.comment}}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </div>
    </div>
</ion-content>