<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
        <h2 *ngIf="userData._user" class="header-name">Hola {{userData._user.firstName}}!</h2>
        <ion-buttons slot="end" *ngIf="userData._user">
            <ion-button size="small" icon-only clear (click)="openMenu()">
                        <ion-icon name="notifications"></ion-icon>
                <div id="counter-items">({{notifs}})</div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="quick-link bg-white webcont">
        <div class="gallery">
            <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="SlideDidChange()" #slideWithNav>
                <ion-slide *ngFor="let item of slidesItems">
                    <ion-img *ngIf="item.files.length > 0" [src]="item.files[0].file" class="w100"></ion-img>
                    <!--h1 *ngIf="item.name">{{item.name}}</h1>
                    <p *ngIf="item.description">{{item.description}}</p-->
                </ion-slide>
            </ion-slides>
            <ion-button size="small" class="left-p" fill="clear" color="light" (click)="slidePrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" class="right-p" fill="clear" color="light" (click)="slideNext()" >
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </div>

        <div class="m15">
            <h2 *ngIf="userData._user" class="hello">Hola {{userData._user.firstName}}!</h2>
            <h2 *ngIf="!userData._user">Hola!</h2>
            <h3>Bienvenido a Healthy.</h3>
            <p>Tu centro medico digital </p>
            <br/>
            <ion-button class="button merchant-categories__header-button right" style="padding:0" (click)="login()" size="small" *ngIf="!userData._user">
                Entrar
            </ion-button>

        </div>
        <div class="clear"></div>
        <h2 class="pl15">Conoce un especialista</h2>
        <div class="mainCategories">
            <div (click)="openItem(item,'none',false)" *ngFor="let item of items" class="mainCategories__list w50 left">
                <img src="assets/imgs/dentist-1.jpg" item-start>
                <span class="mainCategories__list--text">
                    <span>{{item.name}}</span>
                    <small>{{item.description}}</small>
                </span>
            </div>
        </div>
        <h2 class="pl15">Centros de prueba</h2>
        <div class="mainCategories">
            <div class="clear"></div>
            <div (click)="openItem(centerCat,'book',true)" class="mainCategories__list w50 left">
                <img src="assets/imgs/laboratory.jpg" item-start>
                <span class="mainCategories__list--text">
                    <span></span>
                </span>
            </div>
        </div>
        <h2 class="pl15">Farmacias</h2>
        <div class="mainCategories">

            <div class="clear"></div>
            <div (click)="openStore(item,10)" *ngFor="let item of stores;index as i;" class="mainCategories__list w50 left">
                <img src="assets/imgs/Pharmacy.jpg" item-start>
                <span class="mainCategories__list--text">
                    <span>Tienda {{i+1}}</span>
                </span>
            </div>
        </div>
        <ion-list class="news">
            <ion-list-header>
                Noticias
            </ion-list-header>

            <ion-item class="pr10 pl10" *ngFor="let item of newsItems">
                <ion-thumbnail slot="start" *ngIf="item.files.length > 0" class="w30 h100">
                    <ion-img [src]="item.files[0].file"></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap w70 h100">
                    <h3 class="mt10 mb10" *ngIf="item.name">{{item.name}}</h3>
                    <p class="mb5"><b>{{item.start_date | date:'mediumDate'}}</b></p>
                    <p *ngIf="item.description">{{item.description}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>