app-cart {
    .btn-primary,.btn-secondary{
        min-width: 113px
    }
    .close-button.hidden-show-when {
        display: inline-block !important;
    }
    .content-increment-product{
        button {
            min-width: 86px;
            height: 30px;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .content-card {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 35px;
        height: 35px;
        transform: translateY(-50%);
    }

    .cart {
        &__button {
            position: absolute;
            width: 78px;
            &--left {
                left: 0;
            }
            &--right {
                right: 0;
            }
            button {
                height: auto;
                width: 100%;
                margin: 0;
                ion-icon {
                    min-width: auto !important;
                    height: 33px;
                    width: 25px;
                    background-size: 100%;
                    position: relative;
                    top: 0;
                }
            }
        }
    }

    ion-content {
        position: relative;
        &:before {
            //background-image: url('../../assets/background-2.jpg');
            background-size: 100%;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            opacity: .03;
        }
    }

    .item-md ion-avatar,
    .item-ios ion-avatar {
        min-width: auto;
        min-height: auto;
        width: 100%;
        height: 80px;
    }

    .item {
        &__name {
            font-weight: 700;
        }
    }

    .item-md ion-avatar img,
    .item-ios ion-avatar img {
        border-radius: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    ion-item.item-md,
    ion-item.item-ios {
        padding: 0;
        overflow: auto;
        height: auto;
        display: block;
    }

    .scroll-content {
        padding: 40px;
        .list {
            margin-bottom: 0;
            padding: 10px 20px 0;
            background-color: white;
        }
    }

    button {
        width: 47.66%;
        span {
            text-transform: capitalize;
            font-weight: 700;
        }
    }
}

.cart {
    &__total {
        background-color: white;
        padding: 5px 20px;
    }
}


.checkout {
    &-prepare {
        &__items {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 3px;
            border-bottom: 3px solid rgba(gray, .3);
        }
    }

    &__item {
        border-bottom: 1px solid rgba(gray, .3);
        padding: 3px 0;
        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
        &--delete {
            color: red;
            text-align: right;
            font-weight: 800;
            padding-top: 10px;
        }
    }
}