<ion-content class="outer-content home-page">
    <div class="home-page__wrapper">
        <a (click)="goLogin()" href="javascript:;" style="float:right;font-size: 18px;margin-top: 15px;" *ngIf="!userData._user">{{ 'HOME.LOGIN' | translate }}</a>
        <div class="notification-button" *ngIf="userData._user">
            <div id="counter-items">{{notifs}}</div>
            <button ion-button menuToggle (click)="menuOpen()">Notifs</button>
        </div>
        <div class="home-page__image" style="float:left">
            <img src="assets/logo-home.svg" alt="">

        </div>

        <p style="float:left" class="greeting" *ngIf="userData._user">{{ 'HOME.GREETING' | translate }},<br/> <strong>{{userData._user.firstName}}</strong></p>
        <div style="clear:both"></div>
        <div style="width:100%;text-align: center"><button class="btn-primary" style="margin:15px auto;height: 39px;min-width: 88px" (click)="openCalc()">{{ 'HOME.CALCULADORA' | translate }}</button></div>
        <div style="width:100%;text-align: right" *ngIf="!userData._user"><button class="btn-secondary" style="margin:15px auto;height: 39px;min-width: 88px" (click)="openConversion()">{{ 'HOME.NUEVOS' | translate }}</button></div>
        <div style="width:100%;text-align: right" *ngIf="userData._user && totalDeliveries < 4"><button class="btn-secondary" style="margin:15px auto;height: 39px;min-width: 88px" (click)="openConversion()">{{ 'HOME.EXISTEN' | translate }}</button></div>

        <div style="clear:both"></div>
        <ion-list class="home-page__items">
            <ion-list-header class="delivery__title">
                {{ 'HOME.DELIVERIES_TITLE' | translate }}: {{totalDeliveries}}
            </ion-list-header>
            <ion-item-sliding class="lunch__item" *ngFor="let item of itemList" >
                              <ion-item>
                    <h2>{{item.fecha }}<br><span *ngIf="item.status=='deposit'">{{ 'HOME.STATUS_DEPOSIT' | translate }}</span></h2>
                    <div style="clear: both;"></div>
                    <div style="float:left">
                        <div *ngFor="let meal of item.meals">
                            <div *ngFor="let dishItem of meal.attributes.plato">
                                <h3>{{dishItem.valor}}</h3>
                            </div>
                        </div>
                        <br/>
                        <button *ngIf="item.status=='enqueue'" (click)="programAnother(item.delivery)" class="btn-primary" >
                                Recibir Otro
                        </button>
                    </div>

                    <div style="float:right" *ngIf="item.deliveries.length<2">
                        <span class="lunch__status" *ngIf="item.status=='enqueue' || item.status=='preparing'" (click)="selectDelivery(item.delivery)">{{ 'HOME.STATUS_ENQUEUE' | translate }}</span>                    
                        <button class="btn-primary" *ngIf="item.status=='pending' || item.status=='deposit'" (click)="selectDelivery(item.delivery)">{{ 'HOME.STATUS_PENDING' | translate }}</button>
                        <button class="btn-secondary" *ngIf="item.status=='transit'" (click)="selectDelivery(item.delivery)">{{ 'HOME.STATUS_TRANSIT' | translate }}</button>
                        <button class="btn-secondary" *ngIf="item.status=='completed'" (click)="selectDelivery(item.delivery)">{{ 'HOME.STATUS_COMPLETED' | translate }}</button>
                        <button class="btn-primary" *ngIf="!item.status&&item.isPast" (click)="openMenuOption(item)">{{ 'HOME.VIEW_MEAL' | translate }}</button>
                        <button class="btn-primary" *ngIf="!item.status&&!item.isPast" (click)="openMenuOption(item)">{{ 'HOME.STATUS_PENDING' | translate }}</button>
                    </div>
                    <div style="float:right" *ngIf="item.deliveries.length>1">
                        <div *ngFor="let del of item.deliveries">
                            <p *ngIf="del.details.add">{{del.details.add.tipo_p}}</p>
                            <span class="lunch__status" *ngIf="del.status=='enqueue' || item.status=='preparing'" (click)="selectDelivery(del)">{{ 'HOME.STATUS_ENQUEUE' | translate }}</span>
                            <button class="btn-primary" *ngIf="del.status=='pending' || item.status=='deposit'" (click)="selectDelivery(del)">{{ 'HOME.STATUS_PENDING' | translate }}</button>
                            <button class="btn-secondary" *ngIf="del.status=='transit'" (click)="selectDelivery(del)">{{ 'HOME.STATUS_TRANSIT' | translate }}</button>
                            <button class="btn-secondary" *ngIf="del.status=='completed'" (click)="selectDelivery(del)">{{ 'HOME.STATUS_COMPLETED' | translate }}</button>
                            <br/>
                        </div>
                        

                    </div>

                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-list-header class="products__title">
            {{ 'HOME.PRODUCTS_TITLE' | translate }}
        </ion-list-header>
        <ion-list class="home-page__products">
            <ion-item class="products__item" *ngIf="true">
                      <button ion-item (click)="openNutricion()">
                    <ion-avatar class="products__image" item-start>
                       <img src="https://s3.us-east-2.amazonaws.com/gohife/public/product/plan-de-almuerzos.jpg" />
                    </ion-avatar>
                    <h2>{{ 'HOME.NUTRI_TITLE' | translate }}</h2>
                    <p></p>
                    <ion-note item-end ></ion-note>
                </button>
            </ion-item>
            <ion-item class="products__item" *ngFor="let item of currentItems">
                      <button ion-item (click)="openMerchant(item)">
                    <ion-avatar class="products__image" item-start>
                        <img [src]="item.src" />
                    </ion-avatar>
                    <h2>{{item.name}}</h2>
                    <p>{{item.about}}</p>
                    <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
                </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>