<ion-header class="section__header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'PASSWORD_UPDATE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="password__update">
    <div class="password__update---wrapper">
        <ion-item>
            <p>{{ 'PASSWORD_UPDATE.DESCRIPTION' | translate }}</p>
        </ion-item>
        <form [formGroup]="form" (ngSubmit)="savePassword()">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.OLD_PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" [(ngModel)]="account.old_password" formControlName="old_password"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.old_password.valid  && (form.controls.old_password.dirty || submitAttempt)">
                    <p>{{ 'USER.OLD_PASSWORD_ERROR' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" [(ngModel)]="account.password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.password.valid  && (form.controls.password.dirty || submitAttempt)">
                    <p>{{ 'USER.PASSWORD_ERROR' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.REPEAT_PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" [(ngModel)]="account.password_confirmation" formControlName="password_confirmation"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.password_confirmation.valid  && (form.controls.password_confirmation.dirty || submitAttempt)">
                    <p>{{ 'USER.REPEAT_PASSWORD_ERROR' | translate }}</p>
                </ion-item>
                <ion-item *ngIf="(passwordError && submitAttempt)">
                    <p>{{ 'USER.PASSWORD_MATCH_ERROR' | translate }}</p>
                </ion-item>
                <button class="btn-secondary" type="submit" >{{ 'INPUTS.SUBMIT' | translate }}</button>
            </ion-list>
        </form>
    </div>
</ion-content>