<ion-header>
  <ion-toolbar>
    <ion-title>import-contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button shape="round" (click)="addContacts()">Add Contacts</ion-button>
<ion-list class="doctor-list">
        <ion-row class="bg-white" (click)="checkSelection()" *ngFor="let contact of contacts2;let index = index">
                 <ion-col>
                <ion-card>
                    <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="invites[contacts2[index].id]" value="{{contact.id}}">
                        </label>
                        <p>{{contact.firstName}} {{contact.lastName}}</p>
                        <p>{{contact.cellphone}}</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
