<ion-header class="section__header">
    <ion-toolbar>
        <ion-title>{{ 'FORGOT_PASS.TITLE' | translate }}</ion-title>
        <ion-buttons class="my-addresses__button my-addresses__button--left" slot="secondary">
            <ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                    {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon class="close-button" name="md-close" showWhen="android,windows"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons class="my-addresses__button my-addresses__button--right" slot="primary">
            <ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span class="done-button" color="primary"></span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="my-addresses">
    <div class="my-addresses__wrapper">
        <form [formGroup]="form" (ngSubmit)="done()">
            <input type="hidden" formControlName="lat" />
            <input type="hidden" formControlName="long" />
            <input type="hidden" formControlName="address_id" />
            <input type="hidden" formControlName="postal" />
            <ion-list>
                <ion-item>
                    <p>{{ 'FORGOT_PASS.DESC' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.EMAIL' | translate }}</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || submitAttempt)">
                    <p>{{ 'USER.EMAIL_ERROR' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.TOKEN' | translate }}</ion-label>
                    <ion-input type="text" formControlName="token"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.token.valid  && (form.controls.token.dirty || submitAttempt)">
                    <p>{{ 'USER.TOKEN_ERROR' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'USER.PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.password.valid  && (form.controls.password.dirty || submitAttempt)">
                    <p>{{ 'USER.PASSWORD_ERROR' | translate }}</p>
                </ion-item>


                <ion-item>
                    <ion-label position="floating">{{ 'USER.REPEAT_PASSWORD' | translate }}</ion-label>
                    <ion-input type="text" formControlName="password_confirmation"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.password_confirmation.valid  && (form.controls.password_confirmation.dirty || submitAttempt)">
                    <p>{{ 'USER.REPEAT_PASSWORD_ERROR' | translate }}</p>
                </ion-item>


                <ion-item>
                    <ion-label position="floating">{{ 'USER.PHONE' | translate }}</ion-label>
                    <ion-input type="tel" formControlName="phone"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.phone.valid  && (form.controls.phone.dirty || submitAttempt)">
                    <p>{{ 'USER.PHONE_ERROR' | translate }}</p>
                </ion-item>
                <ion-item>
                    <ion-button full type="submit">{{ 'INPUTS.SUBMIT' | translate}}</ion-button>
                </ion-item>
            </ion-list>
        </form>
    </div>
</ion-content>