<ion-header class="section__header">
    <ion-toolbar>
        <ion-title>{{ 'FORGOT_PASS.TITLE' | translate }}</ion-title>
        <ion-buttons class="my-addresses__button my-addresses__button--left" slot="secondary">
            <ion-button (click)="cancel()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons class="my-addresses__button my-addresses__button--right" slot="primary">
            <ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="my-addresses">
    <div class="my-addresses__wrapper">
        <div *ngIf="submitEmail" class="pr15 pl15">
            <form [formGroup]="form2" (ngSubmit)="getToken()">
                <ion-list>
                    <ion-item>
                        <p>{{ 'FORGOT_PASS.DESC2' | translate }}</p>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">{{ 'USER.EMAIL' | translate }}</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!form2.controls.email.valid  && (form2.controls.email.dirty || submitAttempt2)">
                        <p class="error-message">{{ 'USER.EMAIL_ERROR' | translate }}</p>
                    </ion-item>
                </ion-list>
                <ion-button type="submit" class="right m10">{{ 'INPUTS.SUBMIT' | translate}}</ion-button>
            </form>
            <ion-button (click)="showPassForm()" class="right m10">{{ 'FORGOT_PASS.CODE_EXISTS' | translate}}</ion-button>
        </div>
        <div *ngIf="!submitEmail" class="pr15 pl15">
            <form [formGroup]="form" (ngSubmit)="done()" *ngIf="!submitEmail">
                <ion-list>
                    <ion-item>
                        <p>{{ 'FORGOT_PASS.DESC' | translate }}</p>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">{{ 'USER.EMAIL' | translate }}</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || submitAttempt)">
                        <p class="error-message">{{ 'USER.EMAIL_ERROR' | translate }}</p>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">{{ 'USER.TOKEN' | translate }}</ion-label>
                        <ion-input type="text" formControlName="token"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!form.controls.token.valid  && (form.controls.token.dirty || submitAttempt)">
                        <p class="error-message">{{ 'USER.TOKEN_ERROR' | translate }}</p>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">{{ 'USER.PASSWORD' | translate }}</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!form.controls.password.valid  && (form.controls.password.dirty || submitAttempt)">
                        <p class="error-message">{{ 'USER.PASSWORD_ERROR' | translate }}</p>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">{{ 'USER.REPEAT_PASSWORD' | translate }}</ion-label>
                        <ion-input type="password" formControlName="password_confirmation"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="(!form.controls.password_confirmation.valid  && (form.controls.password_confirmation.dirty || submitAttempt))||passwordError">
                        <p class="error-message">{{ 'USER.REPEAT_PASSWORD_ERROR' | translate }}</p>
                    </ion-item>
                </ion-list>
                <ion-button class="right m10" type="submit">{{ 'INPUTS.SUBMIT' | translate}}</ion-button>
            </form>
            <ion-button (click)="showEmailForm()" class="right m10">{{ 'FORGOT_PASS.RESEND_CODE' | translate}}</ion-button>
        </div>
    </div>
</ion-content>