<ion-header>
    <ion-toolbar>
        <ion-title>
            Appointment Detail
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <ion-card>
        <ion-card-content>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-calendar" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Appointment date & time</small>
                    <strong>{{ booking.starts_at| date : 'h:mm a EEEE, MMMM d, y'}}</strong>
                </ion-col>
                <ion-col class="option text-success">Reschedule</ion-col>
            </ion-row>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="ios-pin" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Location</small>
                    <strong>At Apple Hospital,</strong>
                    <span>Walter Street, Wallington, New Yoek</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-clipboard" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Appointment booked for</small>
                    <strong>{{booking.customer.firstName}} {{booking.customer.lastName}}</strong>
                </ion-col>
            </ion-row>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-information-circle" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Appointment number</small>
                    <strong>{{booking.id}}</strong>
                    <span>Just forreference purpose</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div class="fix-btn"><ion-button full class="btn success">Get Direction</ion-button></div>
</ion-content>
