<ion-header>
    <ion-toolbar>
        <ion-title>
            Appointment Detail
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <ion-card>
        <ion-card-content>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-calendar" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Appointment date & time</small>
                    <strong>{{ mainBooking.starts_at| date : 'h:mm a EEEE, MMMM d, y'}}</strong>
                </ion-col>
                <ion-col class="option text-success">Reschedule</ion-col>
            </ion-row>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="ios-pin" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Location</small>
                    <strong>At Apple Hospital,</strong>
                    <span>Walter Street, Wallington, New Yoek</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-clipboard" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail" *ngIf="mainBooking.customer">
                    <small>Appointment booked By</small>
                    <strong>{{mainBooking.customer.firstName}} {{mainBooking.customer.lastName}}</strong>
                </ion-col>
                <ion-col class="detail" *ngIf="mainBooking.bookable">
                    <small>Appointment booked for</small>
                    <strong>{{mainBooking.bookable.name}}</strong>
                </ion-col>
            </ion-row>
            <ion-row class="appot-detail">
                <ion-col class="icon">
                    <ion-icon name="md-information-circle" class="text-danger"></ion-icon>
                </ion-col>
                <ion-col class="detail">
                    <small>Appointment number</small>
                    <strong>{{mainBooking.id}}</strong>
                    <span>Just forreference purpose</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div ><ion-button *ngIf="mainBooking.customer && mainBooking.total_paid==0" full class="btn success" (click)="changeStatusBooking('approved')">Approve</ion-button></div>
    <div ><ion-button *ngIf="mainBooking.bookable && mainBooking.total_paid==-1" full class="btn success"  (click)="payBooking()">Pay</ion-button></div>
</ion-content>
