<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'BOOKING_DETAIL.TITLE' | translate }}
        </ion-title>
        <ion-buttons class="cart__button cart__button--right" slot="primary" *ngIf="isModal">
            <ion-button (click)="done()" strong>
                <ion-icon class="close-button" name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row class="appot-detail">
                    <ion-col class="icon tright" size="2">
                        
                        <span>{{mainBooking.id}}</span>
                    </ion-col>
                    <ion-col class="detail tright" *ngIf="mainBooking.total_paid == mainBooking.price" size="10">
                             <h2>{{ 'BOOKING_DETAIL.PAID' | translate }} </h2>
                    </ion-col>
                    <ion-col class="detail tright"*ngIf="mainBooking.total_paid == 0" size="10">
                        <h2>{{ 'BOOKING_DETAIL.UNPAID' | translate }} </h2>
                        <span>{{ 'BOOKING_DETAIL.PRICE' | translate }}: <b>{{ mainBooking.price | currency }} </b> </span>
                    </ion-col>
                    <ion-col class="detail tright"*ngIf="mainBooking.total_paid == -1" size="10">
                        <h2>{{ 'BOOKING_DETAIL.UNAUTHORIZED' | translate }} </h2>
                        <span>{{ 'BOOKING_DETAIL.PRICE' | translate }}: <b>{{ mainBooking.price | currency }} </b> </span>
                    </ion-col>
                </ion-row>
                <ion-row class="appot-detail">
                    <ion-col class="icon tright" size="2">
                        <ion-icon name="md-calendar" class="text-danger"></ion-icon>
                    </ion-col>
                    <ion-col class="detail" size="5">
                        <span>{{ mainBooking.starts_at| date : 'mediumDate'}}</span>
                    </ion-col>
                    <ion-col class="detail tright" size="5">
                        <span>{{ 'BOOKING_LIST.STARTS_AT' | translate }}:{{ mainBooking.starts_at| date : 'shortTime'}}</span>
                        <span>{{ 'BOOKING_LIST.ENDS_AT' | translate }}:{{ mainBooking.ends_at| date : 'shortTime'}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="appot-detail">
                    <ion-col class="icon" size="2">
                        <ion-icon name="md-clipboard" class="text-danger"></ion-icon>
                    </ion-col>
                    <ion-col class="detail" *ngIf="mainBooking.customer" size="10">
                        <span>{{ 'BOOKING_DETAIL.BOOKED_BY' | translate }}</span>
                        <span>{{mainBooking.customer.firstName}} {{mainBooking.customer.lastName}}</span>
                    </ion-col>
                    <ion-col class="detail" *ngIf="mainBooking.bookable" size="10">
                        <span>{{ 'BOOKING_DETAIL.BOOKED_FOR' | translate }}</span>
                        <span>{{mainBooking.bookable.name}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="appot-detail" >
                    <ion-col class="detail" *ngFor="let item of mainBooking.options | keyvalue">
                             <p>
                            <span>{{item.key}}</span>
                            <span>{{item.value}}</span>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div><ion-button color="warning" *ngIf="mainBooking.customer_id == userData._user.id && mainBooking.total_paid==mainBooking.price && (mainBooking.options.status=='approved' || mainBooking.options.status=='active')" full class="btn success right" (click)="changeStatusBooking('started')">{{ 'BOOKING_DETAIL.BEGAN' | translate }}</ion-button>
        <ion-button *ngIf="mainBooking.total_paid==mainBooking.price && mainBooking.options.status=='started'" full class="btn success right" (click)="changeStatusBooking('completed')">{{ 'BOOKING_DETAIL.COMPLETED' | translate }}</ion-button>
        <ion-button color="success" *ngIf="mainBooking.customer_id != userData._user.id && mainBooking.total_paid==-1" full class="btn success right" (click)="changeStatusBooking('approved')">{{ 'BOOKING_DETAIL.APPROVE' | translate }}</ion-button>
        <ion-button color="danger" *ngIf="mainBooking.customer_id != userData._user.id && mainBooking.total_paid==-1" full class="btn error right" (click)="changeStatusBooking('denied')">{{ 'BOOKING_DETAIL.DENY' | translate }}</ion-button>
        <ion-button *ngIf="mainBooking.total_paid==0 || mainBooking.total_paid==-1" full class="btn error right" (click)="editBooking()">{{ 'INPUTS.EDIT' | translate }}</ion-button>
        <ion-button color="success" *ngIf="mainBooking.customer_id == userData._user.id  && mainBooking.total_paid==0" full class="btn success right" (click)="payBooking()">{{ 'BOOKING_DETAIL.PAY' | translate }}</ion-button>
        <ion-button color="danger" *ngIf="mainBooking.customer_id == userData._user.id && (mainBooking.total_paid==0 || mainBooking.total_paid==-1)" full class="btn success right" (click)="deleteBooking()">{{ 'BOOKING_DETAIL.DELETE' | translate }}</ion-button></div>
    <div class="clear"></div> 
</ion-content>
