<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'EDIT_PRODUCTS.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formP" (ngSubmit)="saveProduct()" *ngIf="!editingVariant">
        <input type="hidden" formControlName="id" />
        <ion-list>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.NAME' | translate }}</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formP.controls.name.valid  && (formP.controls.name.dirty || submitAttemptP)">
                <p>{{ 'EDIT_PRODUCTS.NAME_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.DESCRIPTION' | translate }}</ion-label>
                <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formP.controls.description.valid  && (formP.controls.description.dirty || submitAttemptP)">
                <p>{{ 'EDIT_PRODUCTS.DESCRIPTION_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-button full type="submit">{{ 'INPUTS.SUBMIT' | translate}}</ion-button>
            </ion-item>
        </ion-list>
    </form>
     
    <ion-button color="danger" (click)="deleteProduct()" *ngIf="!isNew">
        {{ 'INPUTS.DELETE' | translate }}
    </ion-button>
    <ion-button color="secondary" (click)="createVariant()" *ngIf="!isNew">
        {{ 'EDIT_PRODUCTS.CREATE_VARIANT' | translate }}
    </ion-button>
   
    <ion-list *ngIf="!editingVariant">
        <ion-card *ngFor="let item of variants">
            <ion-item>
                <h2>{{item.sku}}</h2>
                <p>{{item.description}}</p>
            </ion-item>
            <ion-card-content >
                <p>{{ 'EDIT_PRODUCTS.PRICE' | translate }}: {{item.price | currency}}</p>
                <p>{{ 'EDIT_PRODUCTS.SALE' | translate }}: {{item.sale | currency}}</p>
                <p>{{ 'EDIT_PRODUCTS.TAX' | translate }}: {{item.tax | currency}}</p>
                <p>{{ 'EDIT_PRODUCTS.COST' | translate }}: {{item.cost | currency}}</p>
                <p>{{ 'EDIT_PRODUCTS.QUANTITY' | translate }}: {{item.quantity}}</p>
                <ion-button color="danger" (click)="deleteVariant(item.id)">
                    {{ 'INPUTS.DELETE' | translate }}
                </ion-button>
                <ion-button color="primary" (click)="editVariant(item)">
                    {{ 'INPUTS.EDIT' | translate }}
                </ion-button>
            </ion-card-content>


        </ion-card>
    </ion-list>
    <form [formGroup]="formV" (ngSubmit)="saveVariant()" *ngIf="editingVariant">
        <input type="hidden" formControlName="id" />
        <ion-list>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.SKU' | translate }}</ion-label>
                <ion-input type="text" formControlName="sku"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.sku.valid  && (formV.controls.sku.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.SKU_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.DESCRIPTION2' | translate }}</ion-label>
                <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.description.valid  && (formV.controls.description.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.DESCRIPTION2_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.PRICE' | translate }}</ion-label>
                <ion-input type="tel" formControlName="price"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.price.valid  && (formV.controls.price.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.PRICE_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.SALE' | translate }}</ion-label>
                <ion-input type="tel" formControlName="sale"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.sale.valid  && (formV.controls.sale.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.SALE_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.TAX' | translate }}</ion-label>
                <ion-input type="tel" formControlName="tax"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.tax.valid  && (formV.controls.tax.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.TAX_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.COST' | translate }}</ion-label>
                <ion-input type="tel" formControlName="cost"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.cost.valid  && (formV.controls.cost.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.COST_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.MIN_QUANTITY' | translate }}</ion-label>
                <ion-input type="tel" formControlName="min_quantity"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.min_quantity.valid  && (formV.controls.min_quantity.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.MIN_QUANTITY_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'EDIT_PRODUCTS.QUANTITY' | translate }}</ion-label>
                <ion-input type="tel" formControlName="quantity"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formV.controls.quantity.valid  && (formV.controls.quantity.dirty || submitAttemptV)">
                <p>{{ 'EDIT_PRODUCTS.QUANTITY_ERROR' | translate }}</p>
            </ion-item>
            <ion-item >
                <ion-label>{{ 'EDIT_PRODUCTS.REQUIRES_AUTHORIZATION' | translate }}</ion-label>
                <ion-checkbox formControlName="requires_authorization"></ion-checkbox>
            </ion-item>
            <ion-item >
                <ion-label>{{ 'EDIT_PRODUCTS.IS_SHIPPABLE' | translate }}</ion-label>
                <ion-checkbox formControlName="is_shippable"></ion-checkbox>
            </ion-item>
            <ion-item >
                <ion-label>{{ 'EDIT_PRODUCTS.IS_ON_SALE' | translate }}</ion-label>
                <ion-checkbox formControlName="is_on_sale"></ion-checkbox>
            </ion-item>
            <ion-item >
                <ion-label>{{ 'EDIT_PRODUCTS.IS_DIGITAL' | translate }}</ion-label>
                <ion-checkbox formControlName="is_digital"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-button full type="submit">{{ 'INPUTS.SUBMIT' | translate}}</ion-button>
            </ion-item>
            <ion-item>
                <ion-button color="primary" (click)="cancelEditVariant()">
                    {{ 'INPUTS.CANCEL' | translate }}
                </ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
