<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            &nbsp;
            <span>
                <ion-icon name="ios-bookmark-outline" item-start></ion-icon>
                <ion-icon name="md-share" item-start></ion-icon>
                <ion-icon name="md-more" item-start></ion-icon>
            </span>
            <div class="content-car">
                <!--div *ngIf="orderData.cartData.totalItems" id="counter-items">{{orderData.cartData.totalItems}}</div-->
                <ion-button icon-only clear (click)="openCart()"><ion-icon name="cart"></ion-icon></ion-button>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/imgs/background-1.jpg" style="width: 100%;display: block;">
    <div class="doctor-detail">
        <img src="{{merchant.icon}}">
        <div>
            <h2 class="text-white">{{merchant.name}}</h2>
            <p class="text-white">{{merchant.type}}</p>
            <h3>{{merchant.description}}</h3>

        </div>
    </div>
    <div class="doctor-detail__booking">
        <div class="doctor-menu-title">{{ 'MERCHANT_DETAIL.MENU' | translate }}</div>
        <div class="doctor-menu-client" *ngIf="!merchant.owner">
            <ion-list>
                <ion-item>
                    <ion-button (click)="showProducts()">{{ 'MERCHANT_DETAIL.STORE' | translate }}</ion-button>
                </ion-item>
                <ion-item>
                    <ion-button (click)="appointmentbook()">{{ 'MERCHANT_DETAIL.BOOKING' | translate }}</ion-button>
                </ion-item>
                <ion-item>
                    <ion-button (click)="chat()">{{ 'MERCHANT_DETAIL.CHAT' | translate }}</ion-button>
                </ion-item>
            </ion-list>
        </div>
        <div class="doctor-menu-client" *ngIf="merchant.owner">
            <ion-list>
                <ion-item>
                    <a href="javascript:;" (click)="myItems()">{{ 'MERCHANT_DETAIL.ITEMS' | translate }}</a>
                </ion-item>
                <ion-item>
                    <a href="javascript:;" (click)="myBookings()">{{ 'MERCHANT_DETAIL.MY_BOOKING' | translate }}</a>
                </ion-item>
            </ion-list>
        </div>
    </div>    
    <div class="defult-tab bg-white">
        <ion-segment [(ngModel)]="doctor" padding-left padding-right>
            <ion-segment-button value="about" class="text-white">
                {{ 'MERCHANT_DETAIL.INFO' | translate }}
            </ion-segment-button>
            <ion-segment-button value="feedback" class="text-white">
                {{ 'MERCHANT_DETAIL.RATINGS' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="doctor" class="bg-light mb">
        <ion-list *ngSwitchCase="'about'">
            <div class="bg-white overview">
                <p class="text-danger header">{{ 'MERCHANT_DETAIL.OVERVIEW' | translate }}</p>
                <ion-row>
                    <ion-col size="6" *ngIf="merchant.attributes.experience">
                        <div *ngFor="let experience of merchant.attributes.experience">
                            <ion-icon name="md-medkit"></ion-icon>
                            <p>{{experience.name}}</p>
                            <h2>{{experience.years}} Years</h2>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div>
                            <ion-icon name="md-thumbs-up"></ion-icon>
                            <p>{{ 'MERCHANT_DETAIL.FEEDBACK' | translate }}</p>
                            <h2>{{merchant.rating}}
                                <ion-icon name="md-star" class="active"></ion-icon>
                                <ion-icon name="md-star" class="active"></ion-icon>
                                <ion-icon name="md-star" class="active"></ion-icon>
                                <ion-icon name="md-star" class="active"></ion-icon>
                                <ion-icon name="md-star"></ion-icon>
                                <span>({{merchant.rating_count}})</span>
                            </h2>
                        </div>
                    </ion-col>
                    <ion-col size="6" *ngIf="merchant.availabilities.length>0">
                        <div>
                            <ion-icon name="logo-usd"></ion-icon>
                            <p>{{ 'MERCHANT_DETAIL.HOURLY' | translate }}</p>
                            <h2>{{ merchant.unit_cost | currency }}</h2>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="bg-white overview">
                <p class="text-danger header">{{ 'MERCHANT_DETAIL.ADDRESS' | translate }}</p>
                <p class="header"><strong>{{merchant.address}}</strong></p>
                <div class="map-location">
                    <img src="assets/imgs/map-location.png" style="position: absolute;height: 100%;bottom: 0;z-index: 0;">
                    <div class="profile-img active" style="top: 42%; left: 45%"><img src="assets/imgs/dentist-1.jpg"></div>
                </div>
            </div>
            <div class="bg-white overview" *ngIf="merchant.attributes.services">
                <p class="text-danger header">{{ 'MERCHANT_DETAIL.SERVICES' | translate }}</p>
                <ion-row>
                    <ion-col size="6" *ngFor="let service of merchant.attributes.services">
                             <div>
                            <img src="{{service.icon}}">
                            <h3>{{service.name}}</h3>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
            </div>
            <div class="bg-white overview" *ngIf="merchant.attributes.specializations">
                <p class="text-danger header">{{ 'MERCHANT_DETAIL.SPECIALIZATIONS' | translate }}</p>
                <ion-row>
                    <ion-col size="12" *ngFor="let specialization of merchant.attributes.specializations">
                             <div>
                            <img src="{{specialization.icon}}">
                            <h3>{{specialization.name}}</h3>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
            </div>
            <div class="bg-white overview practics" *ngIf="merchant.availabilities.length>0">
                <p class="text-danger header">{{ 'MERCHANT_DETAIL.AVAILABILITIES' | translate }}</p>
                <ion-row>
                    <ion-col size="6" *ngFor="let availability of merchant.availabilities">
                             <h5>{{availability.range}}<span float-right>{{availability.from}} to {{availability.to}}</span></h5>
                    </ion-col>
                </ion-row>
            </div>
            <br><br>
            <ion-button expand="full" (click)="appointmentbook()" *ngIf="merchant.availabilities.length>0"><ion-icon name="md-calendar"></ion-icon>{{ 'MERCHANT_DETAIL.BOOK_APPOINTMENT' | translate }}</ion-button>
        </ion-list>
        <ion-list *ngSwitchCase="'feedback'">

            <div class="bg-white rate-over-all">
                <ion-row>
                    <ion-col size="6">
                        <div class="rate">
                            <span>{{ 'MERCHANT_DETAIL.SCORE' | translate }} {{merchant.rating}}</span>
                            <ion-icon name="md-star" class="active"></ion-icon>
                            <ion-icon name="md-star" class="active"></ion-icon>
                            <ion-icon name="md-star" class="active"></ion-icon>
                            <ion-icon name="md-star" class="active"></ion-icon>
                            <ion-icon name="md-star"></ion-icon>
                            <span>({{merchant.rating_count}})</span>
                        </div>
                    </ion-col>
                    <ion-col size="6" style="padding-right: 0;">
                        <div class="rate">
                            <span>Sort By</span>
                            <ion-select [(ngModel)]="Short" interface="popover" class="location">
                                <ion-select-option value="n1">{{ 'MERCHANT_DETAIL.RECENT' | translate }}</ion-select-option>
                                <ion-select-option value="n2">{{ 'MERCHANT_DETAIL.OLDEST' | translate }}</ion-select-option>
                            </ion-select>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <ion-card *ngFor="let rating of merchant.ratings">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/profile1.png">
                    </ion-avatar>
                    <h2><span>To</span> {{merchant.name}}</h2>
                    <div class="rate">
                        <strong>{{rating.rating}}</strong>
                        <ion-icon name="md-star" class="active"></ion-icon>
                        <ion-icon name="md-star" class="active"></ion-icon>
                        <ion-icon name="md-star" class="active"></ion-icon>
                        <ion-icon name="md-star" class="active"></ion-icon>
                        <ion-icon name="md-star"></ion-icon>
                        <span>{{rating.updated_at | date}}</span>
                    </div>
                </ion-item>
                <ion-card-content>
                    {{rating.comment}}
                </ion-card-content>
            </ion-card>
            <!-- <br><br> -->
            <ion-button expand="full" class="btn success fixed" (click)="addfeedback()"><ion-icon name="md-thumbs-up"></ion-icon>{{ 'MERCHANT_DETAIL.GIVE_FEEDBACK' | translate }}</ion-button>
        </ion-list>
    </div>
</ion-content>
