<ion-header>
    <ion-toolbar class="mainHeader">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-select [placeholder]="selectedObject.name" [(ngModel)]="objectId" (ionChange)="selectObject()" style="width: 150px" class="right p15"> 
            <ion-select-option *ngFor="let item of bookingObjects" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
        <ion-label style="width:150px" class="right p15">{{ 'BOOKING_LIST.RESERVATION_OBJECT' | translate }}</ion-label>
    </ion-toolbar> 
</ion-header>

<ion-content class="bg-light">

    <ion-list class="mainBooking__list" style="padding:0">
        <ion-item>
            <ion-label>{{ 'BOOKING_LIST.RESERVATION_PERIOD' | translate }}</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="queryMod" (ionChange)="selectQuery()">
                <ion-select-option *ngFor="let item of queries" [value]="item.value">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <p *ngIf="bookings.length ==0" class="m20">{{ 'INPUTS.NO_RESULTS' | translate }}</p>
    <ion-list class="doctor-list" style="padding:0">
        <ion-item (click)="openBooking(booking)" *ngFor="let booking of bookings">
            <ion-card>
                <ion-grid> 
                    <ion-row> 
                        <ion-col class="icon" size="2">
                            <ion-icon name="md-calendar" style="font-size: 25px" class="text-danger ml20 mr20 mt10"></ion-icon>
                        </ion-col> 
                        <ion-col class="icon" size="8">
                            <h4 *ngIf="target=='bookable'" class="mt10">{{booking.customer.firstName}} {{booking.customer.lastName}}</h4>
                            <h4 *ngIf="target=='customer'" class="mt10">{{booking.bookable.name}}</h4>
                        </ion-col>
                        <ion-col class="icon" size="2">
                            <b class="mt10">{{booking.starts_at | date:'shortDate' }}</b>
                        </ion-col>
                    </ion-row> 
                    <ion-row> 
                        <ion-col size="6">
                            <p>{{ 'BOOKING_LIST.STARTS_AT' | translate }}:<br/> <b>{{booking.starts_at | date:'shortTime' }}</b></p>
                            <p>{{ 'BOOKING_LIST.STATUS' | translate }}<br/>
                            <b *ngIf="booking.notes=='ready'">{{ 'BOOKING_LIST.READY' | translate }}</b>
                            <b *ngIf="booking.notes=='waiting'">{{ 'BOOKING_LIST.WAITING' | translate }}</b>
                            <b *ngIf="booking.notes=='started'">{{ 'BOOKING_LIST.STARTED' | translate }}</b>
                            <b *ngIf="booking.notes=='pending'">{{ 'BOOKING_LIST.PENDING' | translate }}</b>
                            <b *ngIf="booking.notes=='completed'">{{ 'BOOKING_LIST.COMPLETED' | translate }}</b></p>
                        </ion-col>
                        <ion-col size="6">
                            <p>{{ 'BOOKING_LIST.ENDS_AT' | translate }}: <br/> <b>{{booking.ends_at | date:'shortTime' }}</b></p>
                            <p>{{ 'BOOKING_LIST.PAYMENT' | translate }}<br/>
                                <b *ngIf="booking.price==booking.total_paid">{{ 'BOOKING_LIST.PAID' | translate }}</b>
                                <b *ngIf="0==booking.total_paid">{{ 'BOOKING_LIST.UNPAID' | translate }}</b>
                                <b *ngIf="-1==booking.total_paid">{{ 'BOOKING_LIST.UNAPPROVED' | translate }}</b>
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>               
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>