<ion-header>
    <ion-toolbar>
        <ion-title>
            My Appointments
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list>
        <ion-list-header>{{queryMod}}</ion-list-header>

        <ion-item>
            <ion-label>Filter</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="queryMod" (ionChange)="selectQuery()">
                <ion-select-option *ngFor="let item of queries" value="item">{{item}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list class="doctor-list">
        <ion-row class="bg-white" (click)="openBooking(booking)" *ngFor="let booking of bookings">
            <ion-col text-center class="date">
                <small>{{booking.starts_at | date :'EE'}}</small>
                <strong class="text-danger">{{booking.starts_at | date :'d'}}</strong>
                <small>{{booking.starts_at | date :'h:mm A'}}</small>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <h2>{{booking.customer.firstName}} {{booking.customer.lastName}}</h2>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
    <p class="heading">Past Appointments</p>
</ion-content>
