<ion-header>
    <ion-toolbar class="mainHeader">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'BOOKING_LIST.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
    <ion-button (click)="toggleFilters()"><ion-icon *ngIf="!showFilters" slot="icon-only" name="arrow-dropdown"></ion-icon><ion-icon *ngIf="showFilters" slot="icon-only" name="arrow-dropup"></ion-icon></ion-button>
    <ion-list class="mainBooking__list" *ngIf="showFilters">
        <ion-item>
            <ion-label>{{ 'BOOKING_LIST.RESERVATION_OBJECT' | translate }}</ion-label>
            <ion-select placeholder="selectedObject.name" [(ngModel)]="objectId" (ionChange)="selectObject()"> 
                <ion-select-option *ngFor="let item of bookingObjects" value="{{item.id}}">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list class="mainBooking__list" *ngIf="showFilters">
        <ion-item>
            <ion-label>{{ 'BOOKING_LIST.RESERVATION_PERIOD' | translate }}</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="queryMod" (ionChange)="selectQuery()">
                <ion-select-option *ngFor="let item of queries" value="{{item.value}}">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list class="doctor-list">
        <ion-item (click)="openBooking(booking)" *ngFor="let booking of bookings">
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <h2 *ngIf="target=='bookable'">{{booking.customer.firstName}} {{booking.customer.lastName}}</h2>
                            <h2 *ngIf="target=='customer'">{{booking.bookable.name}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <h3>{{ 'BOOKING_LIST.STARTS_AT' | translate }}</h3>
                            <p>{{booking.starts_at | date }}</p>
                        </ion-col>
                        <ion-col size="6">
                            <p *ngIf="booking.price==booking.total_paid">{{ 'BOOKING_LIST.PAID' | translate }}</p>
                            <p *ngIf="0==booking.total_paid">{{ 'BOOKING_LIST.UNPAID' | translate }}</p>
                            <p *ngIf="-1==booking.total_paid">{{ 'BOOKING_LIST.UNAPPROVED' | translate }}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="booking.notes">
                        <ion-col size="6">
                            
                 
                        </ion-col>
                        <ion-col size="6">
                            <h3>{{ 'BOOKING_LIST.STATUS' | translate }}</h3>
                            <p *ngIf="booking.notes=='pending'">{{ 'BOOKING_LIST.PENDING' | translate }}</p>
                            <p *ngIf="booking.notes=='ready'">{{ 'BOOKING_LIST.READY' | translate }}</p>
                            <p *ngIf="booking.notes=='waiting'">{{ 'BOOKING_LIST.WAITING' | translate }}</p>
                            <p *ngIf="booking.notes=='completed'">{{ 'BOOKING_LIST.COMPLETED' | translate }}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>               
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>